.SideBar{
    border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem;
  position: relative;
  overflow: hidden;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.list{
  display:flex;
  justify-content: space-between;
  margin:1rem 0;
}
p{
  font-size: 1rem;

}